<!DOCTYPE html>
<html>

<head>

	<!-- seo related -->
	<title>Chatbot Frontend</title>

	<!-- meta related -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- vendor css & style files -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Open+Sans:300|Oxygen|Material+Icons"
		rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

	<!-- custom css -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

</head>

<body>
	<div class="container">

		<div class="row padded_row">

			<!-- right side content -->
			<div class="col-md-7">

				<div class="chat_window">

					<div class="top_menu">
						<div class="title">ChatBot - Sally</div>
					</div>

					<!-- dynamically rendered -->
					<ul class="messages"></ul>

					<!-- input -->
					<div class="bottom_wrapper mb-3">
						<input id="msg_input" placeholder="Say Hi to begin chat..." />
						<button id="micBtn"  class="btn btn-danger app_button_2">
                            <i class="fa-solid fa-microphone"></i>
                        </button>
						<button id="send_button" class="btn btn-success">
                            <i class="fa-solid fa-paper-plane icon"></i>
                            Send
                        </button>
					</div>

				</div>

			</div>

			<!-- left side content -->
			<div class="col-md-5">
				<div class="chat_window">

					<div class="top_menu">
						<div class="title">Help</div>
					</div>

					<!-- help container -->
					<div class="panel-group">

						<!-- help - 1 -->
						<div class="panel panel-info">
							<div class="panel-heading">
								<h4 class="panel-title" data-toggle="collapse" data-target="#collapse1">
									Attention
								</h4>
							</div>
							<div id="collapse1" class="panel-collapse collapse in">
								<div class="panel-body">
									Sally can speak many different languages.
								</div>
							</div>
						</div>

						<!-- Mic error -->
						<div id="mic_error" class="panel panel-danger mic-error">
							<div class="panel-heading">
								<h4 class="panel-title" data-toggle="collapse" data-target="#collapse2">
									Mic error
								</h4>
							</div>
							<div id="collapse2" class="panel-collapse collapse in">
								<div class="panel-body">
									Sorry, our bot can't hear you.
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>

		</div>

	</div>

    <p id="messages" hidden>Sally is an assistant that gently respond and give suggestions to user in different language.\n
        User: Xin chào bạn, bạn tên là gì?\n
        Sally: Xin chào bạn, tôi tên là Sally\n
        User: How are you today?\n
        Sally: I'm so strong these days, thanks for asking.\n
        User: Вы когда-нибудь были в России?\n
        Sally: Да, последний раз я был там 3 года назад.\n</p>


	<!-- vendor script files -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
	</script>

	<!-- custom scripts -->
	<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>
